#
gen_job.py
lib/datasets/temp_dir
#Python
*.pyc

# pycharm
.idea

# ######## Project
output
results
tools/log.txt
*.caffemodel
loss.log
testPolygon.py
jobs/

# job to track


# data folder
data/ctw1500
data/testsort.py
data/icdar2015ch4
data/quadrilateral-fisheye-ep21h-1-sekonix-2018-12-06-dataset
